.liste, .liste2{
    background-color: cadetblue;
    width: 900px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

a{
    color: white;
    text-decoration: none;
}
